body {
  --text: pink;
  --background: rgb(255, 235, 235);
  --border: rgb(194, 194, 194);
}

.app {
  display: flex;
  height: 100vh;
  max-width: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}